/* From Uiverse.io by SteeveeG */ 
body{
  margin: 0;
}
.login{
  background-image: url(https://t4.ftcdn.net/jpg/01/65/56/31/360_F_165563150_xf0IOGuQtpY7Xzd0dfFpbVkqJCnr74Tv.jpg);    
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.font {
    font-family:
      JetBrains Sans,
      Inter,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Droid Sans,
      Helvetica Neue,
      Arial,
      sans-serif;
  }
  form {
    padding: 1.5em 1em;
    margin: auto;
    margin-top: 90px;
  }
  .SignInForms {
    background-color: rgb(245, 245, 245);
    width: 22.375em;
    height: 7px;
    border-radius: 10px;
  }
  .header {
    color: rgb(75, 75, 75);
    font-size: 0.938em;
    font-weight: 640;
    margin: 0 0 0.875em 0;
    display: block;
  }
  
  .Buttons {
    padding: 0 0 1em;
    border-bottom: solid #d2d0d0 0.063em;
    margin-bottom: 1.188em;
  }
  
  .SignInUp {
    cursor: pointer;
    color: #ffffff;
    background-color: #00a6fd;
    border: none;
    width: 6.875em;
    padding: 0.5em 1.25em;
    font-size: 0.875em;
    line-height: 1.65;
    border-radius: 1.25em;
    touch-action: manipulation;
    margin: 0 0.625em 0 0;
  }
  
  .ForgotPassword {
    cursor: pointer;
    color: #4c9dd0;
    padding: 0.5em 0;
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-size: 0.875em;
  }
  .ForgotPassword:hover {
    text-decoration: underline;
    background-color: transparent;
  }
  .Input {
    padding: 0.25em;
    vertical-align: middle;
    width: 100%;
    margin: 0 0 1em 0;
    color: #4b4b4b;
    height: 2.5em;
    border: 1px solid #d9d9d9;
  }
  .Input:focus {
    outline: none;
    border-color: #00a6fd;
  }
  
  .SignInForms:focus-within,
  .NoAcc:focus-within {
    -webkit-box-shadow: 0 0 6px 3px #caedff;
    box-shadow: 0 0 6px 3px #caedff;
    outline: 1px solid #97dbff;
  }
  
  .SignInUp:hover {
    background-color: #008bd4;
    border: #00a6fd;
  }
  
  .OtherSignInLabel {
    margin-bottom: 0.688em;
  }
  
  .SignInWith {
    display: flex;
    align-items: center;
  }
  
  .GoogleLogo {
    height: 1.25em;
    width: 1.25em;
    margin: 0 0.875em;
  }
  
  .SignInWithGoogle {
    min-width: 8.5em;
    height: 3em;
    text-decoration: none;
    color: #4b4b4b;
    display: flex;
    margin-right: 1.75em;
    align-items: center;
    position: relative;
    box-shadow:
      0 0 0.063em rgb(0 0 0 / 10%),
      0 0.063em 0.063em #b7b7b7;
    background: #ffffff;
    border-radius: 0.125em;
    user-select: none;
    font-size: 0.813em;
  }
  
  .SignInWithLogo {
    display: block;
    margin-right: 1.75em;
    position: relative;
  }
  
  .SignInWithLogo:hover .Bar {
    transition: ease-in-out 0.5s;
    opacity: 1;
  }
  .h3 {
    display: block;
    font-size: 1.17em;
    font-weight: 600;
    margin-bottom: 1em;
  }
  .Bar {
    background-color: #b7b6b6;
    bottom: -0.238em;
    left: -0.25em;
    position: relative;
    height: 0.094em;
    transition: ease-in-out 0.5s;
    opacity: 0;
    width: 2em;
    border-radius: 6.25em;
  }
  
  .NoAcc {
    top: 1em;
    width: 22.375em;
    height: 12.7em;
    padding: 1.188em;
    background-color: rgb(245, 245, 245);
    position: relative;
    margin: auto;
  }
  .NoAccForms {
    padding: 0;
  }
  /* .container {
    display: flex;
    height: 100vh !important;    
    width: 100vw !important; 
    background-image: url('https://t4.ftcdn.net/jpg/01/65/56/31/360_F_165563150_xf0IOGuQtpY7Xzd0dfFpbVkqJCnr74Tv.jpg') !important;
    background-size: cover !important;
    flex-direction: column;    
  } */
  